.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

form {
  width: 40%;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
}

input[type="text"],
input[type="email"] {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.erorrMessage {
  background-color: #f8d7da;
  color: #58151c;
  border: 0.5px solid #f1aeb5;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}
