.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__img {
    width: 400px;
    height: 400px;
  }
  &__text {
    margin: 30px;
    font-size: 36px;
    font-weight: var(--montserrat-regular);
    text-align: center;
  }
}
